@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(25, 25, 170);
}

.main{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.main__contenedor__boton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

button{
    width: 7rem;
    height: 4rem;
    font-family: 'Rubik Spray Paint', cursive;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 0.6rem;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    box-shadow: 0px 3px 5px white;
}

button:active{
    transform: scale(0.94);
}

.main__contenedor{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__player,.main__cpu{
    width: 25rem;
    height:20rem;
    border: solid black;
    background-color: red;
}

.main__bolillero{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: rgb(111,111,116);
    background: radial-gradient(circle, rgba(111,111,116,1) 55%, rgba(0,0,0,1) 79%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__player__d-flex{
    width: 4rem;
    height: 4rem;
    border: solid white;
    margin-bottom: 0.4rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.main__player__margin--left{
    margin-left: 0.5rem;
}
.main__player__contenedor--numeros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.main__titulo{
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.main__bolillero--numero{
    width: 4rem;
    height: 4rem;
    border: solid 5px gray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__contenedor__numeros--impresos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

}
.main__numeros--impresos{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.numero__sacado{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
}

.tachar{
    background-color: red;
    color: rgb(102, 7, 7);
    text-decoration: line-through;
}

.bolillero__ganador{
    width: 9rem;
    height: 6rem;
    border: solid black;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media(max-width:960px){
    .main__cpu,.main__player{
        height: auto;
    }
}

@media(max-width:510px){
    .main__contenedor{
        flex-direction: column;
    }
}
